<!DOCTYPE html>
<html>
  <head>
    <title><%= time %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


<body>
    
<nav>
    Link for all users<br>
    Link for all games<br>
</nav>

<h1>Master Page</h1>
<h2> All Users: </h2>

<h2> All Games: </h2>
<table>
    <thead>
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th> Amount </th>
            <th> Expire Date </th>
            <th> Winner </th>
            <th> Player 1 </th>
            <th> Player 2 </th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>



</body>
</html>
